body {
  background: linear-gradient(
    112.4deg,
    rgb(204, 193, 255) 44.9%,
    rgb(85, 60, 139) 94.5%
  );
  min-height: 100vh;
  color: aliceblue;
  font-family: "Poppins", sans-serif;
}
button {
  background-color: rgb(85, 60, 139);
  color: aliceblue;
  border-radius: 5px;
}
h2 {
  text-align: center;
  font-size: 25px;
}
h2 :first-letter {
  text-transform: capitalize;
}
li {
  display: inline;
  padding: 10px 30px 10px 0px;
}
.searchBar {
  background-color: rgb(85, 60, 139);
  border-radius: 5px;
  color: aliceblue;
  padding: 5px;
}

#searchForm {
  text-align: center;
  margin-top: 30px;
}
#city {
  text-align: center;
  font-size: 60px;
  margin-top: 30px;
}
#time {
  text-align: center;
  font-size: 1rem;
  margin: 10px 0px;
}
#current {
  font-size: 75px;
  text-align: center;
  margin-top: 25px;
}
#unit {
  position: relative;
  font-size: 16px;
  top: -40px;
}
.active {
  color: aliceblue;
  cursor: default;
  text-decoration: none;
}
.active:hover {
  text-decoration: none;
  color: aliceblue;
}
#icon {
  position: relative;
  top: -10px;
  max-height: 100px;
  max-width: 100px;
}
#description {
  margin-bottom: 10px;
}
#weatherDetails {
  list-style: none;
  text-align: center;
}
#openSource {
  text-align: center;
  font-size: 15px;
}
#link {
  color: aliceblue;
}
